/* Affirmation.css */
.self-affirm-carousel {
  display: flex;
  flex-grow: 1;
  height: 100px;
}

.self-affirm-card {
  position: relative;
  padding: 10px 0px 10px 0px;
  border-radius: 10px; /* Adjust as needed */
  width: 100%;
  height: 100%;
  background: linear-gradient(#98b8cd, #cbb3e5); /* Example gradient colors */
  display: flex;
  /* flex-direction: column; Stack children vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center content */
  overflow: hidden;
  container-type: size;
}

.self-affirm-text {
  color: #ffffff; /* White text, change if needed */
  font-size: clamp(1rem, 4cqh, 2rem);
  text-align: center;
  width: 75%;
}

.self-affirm-new-card-button {
  position: relative;
  width: 10%;
  height: 10%;
}

.card-modal {
  position: fixed;
  top: 50%; /* Center the modal vertically */
  left: 50%; /* Center the modal horizontally */
  transform: translate(-50%, -50%); /* Center the modal precisely */
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.3125rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  max-width: 25rem; /* Adjust the maximum width as needed */
  width: 100%;
  z-index: 1000; /* Ensure the modal is above other content */
}

.card-modal-body {
  padding: 0.625rem; /* Adjust the padding as needed */
}

.large-input {
  width: 100%;
  padding: 0.625rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  height: 6.25rem;
}

/* Modal Buttons */
.card-modal-button {
  padding: 0.625rem 1.25rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 0.3125rem;
  margin-left: 0.625rem;
  font-size: 1rem;
}

.card-modal button:hover {
  background-color: #0056b3;
}

.carousel-button {
  color: "black";
  background: transparent;
}

.carousel-button-disabled {
  color: "gray";
  background: #eaecef;
}

.carousel-button-disabled,
.carousel-button-disabled:hover {
  background-color: #eaecef; /* Disabled state background */
  pointer-events: none;
  opacity: 0.5;
}

.css-1orgm40 {
  padding: 0px !important;
}

.-left-12 {
  margin-left: 3.75rem !important;
}

.-right-12 {
  margin-right: 3.75rem !important;
}

.resize-handle {
  height: 8px;
  width: 100%;
  cursor: row-resize;
  position: absolute;
  bottom: 0;
  left: 0;
  transition-delay: 0.1s;
  opacity: 0;
  background: linear-gradient(to bottom, #ddd, #bbb);
  transition:
    opacity 0.2s ease-in-out,
    transform 0.1s ease-out,
    background 0.2s;
  position: absolute;
  border-radius: 10px;
}

.relative:hover .resize-handle,
.relative.clicked .resize-handle {
  opacity: 1;
  background: linear-gradient(to bottom, #ccc, #999);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transform: scaleY(1.1);
}
