/* NameTag.css */
.label-text {
  font-weight: bold;
  font-size: 30px;
}

.input-field {
  margin-top: 0px;
}

.text-input,
.select-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 80%; /* Adjust the width as needed */
}

.block-style {
  height: 20px; /* Adjust the height value to control the spacing */
}

.colored-switch .MuiSwitch-switchBase.Mui-checked {
  color: #d68071; /* Set the color using a hex value */
}

.colored-switch .MuiSwitch-switchBase.Mui-checked:hover {
  background-color: rgba(214, 128, 113, 0.04); /* Set the hover color using a hex value */
}

.colored-switch .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  background-color: #d68071; /* Set the track color using a hex value */
}


.nametag-container {
    /* TODO: Update this with a responsive design that adjusts to the screen size rather than hard-coding the height. */
    margin-bottom: 100px; /* Adjust this value as needed */
    margin-left: 20px;
    margin-right: 20px;
}

.form-container {
  display: flex;
  align-items: center;
  padding: 0px;
  margin-bottom: 10px;
}

.submit-btn {
  padding: 8px 16px;
  background-color: #d68071;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #d6624a;
}

.label-styling {
  margin-left: 0px;
}

.controller-container {
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 5px 0px 5px; 
}

.controller-container:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}