.success-alert {
  padding: 1rem; /* p-4 */
  margin-bottom: 1rem; /* mb-4 */
  font-size: 1rem; /* text-sm */
  color: #1f9d55; /* text-green-800 */
  border-radius: 0.375rem; /* rounded-lg */
  background-color: #d1fae5; /* bg-green-50 */
  margin: 0 auto; /* Center the element horizontally */
  text-align: center; /* Center text */
}

.success-alert.dark-mode {
  background-color: #374151; /* dark:bg-gray-800 */
  color: #4b5563; /* dark:text-green-400 */
}

.success-alert .font-medium {
  font-weight: 600; /* font-medium */
}
